[submodule "src/tinytoml"]
	path = src/tinytoml
	url = https://github.com/mayah/tinytoml.git
[submodule "src/portaudio"]
	path = src/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "src/cxxopts"]
	path = src/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "src/libsndfile"]
	path = src/libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "src/dechamps_cpputil"]
	path = src/dechamps_cpputil
	url = https://github.com/dechamps/cpputil.git
[submodule "src/dechamps_cpplog"]
	path = src/dechamps_cpplog
	url = https://github.com/dechamps/cpplog.git
[submodule "src/dechamps_ASIOUtil"]
	path = src/dechamps_ASIOUtil
	url = https://github.com/dechamps/ASIOUtil.git
[submodule "src/ASIOTest"]
	path = src/ASIOTest
	url = https://github.com/dechamps/ASIOTest.git
[submodule "src/dechamps_CMakeUtils"]
	path = src/dechamps_CMakeUtils
	url = https://github.com/dechamps/CMakeUtils.git
